form {
  margin-right: 150px;
  margin-left: 150px;

  #post-abstract {
    height: 76px;
    overflow: scroll;
    margin-top: 10px;
  }
  #post-main {
    height: 228px;
    overflow: scroll;
    margin-top: 10px;
  }
}


//.info {
//  color: #ffffff;
//  font-family: 'Raleway', sans-serif;
//  margin: 60px 0px 20px 40px;
//}
//
//button {
//  margin: 0px 0px 20px 40px;
//}
