

  .nav-icon {
    display: flex;
    justify-content: flex-end;

  }
  h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
  }

  .nav-panel {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    top: 0px;
    position: absolute;
    z-index: 1000;

    &.active {
      display: block;
    }
    .list {
      text-decoration: none;
      text-align: center;
      display: block;
      font-family: 'Raleway', sans-serif;
      font-size: 30px;
      color: white;
      top: 250px;
      position: relative;
      padding: 10px;
    }
    a:hover {
      color: grey;
    }



  }
  .menu-toggle {
    color: white;
    font-size: 40px;
    padding: 20px 20px 0px 0px;
    &.active {
      z-index: 1001;
    }
  }
