<div class="single-post-page">

  <div *ngIf="(post | async) as loadedPost; else loading">
    <div class="title">{{ loadedPost.title}}</div>
    <div class="author"> Posted by: {{ loadedPost.author }}</div>
    <div class="short-post">{{loadedPost.short}}</div>
    <div class="whole-post">{{loadedPost.text}}</div>
  </div>

  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>

  <h1>Comments</h1>

  <h4>Add Comment</h4>
  <form (ngSubmit)="addComment()" #newPost="ngForm">
    <div class="form-group">
      <input class="form-control" id="post-title" placeholder="Your name" required [(ngModel)]="comment.name" name="title">
      <input class="form-control" id="post-abstract" placeholder="Enter your comment" required [(ngModel)]="comment.text" name="short">
    </div>
    <button type="submit" class="btn btn-primary">Add it now!</button>
  </form>



  <div *ngFor="let comment of this.comments | async" class="comment">
    <div class="comment-name">{{comment.name}}</div>
    <div class="comment-text">{{comment.text}}</div>
    <hr/>
  </div>
</div>



