.post-site{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;


  //.post-header {
  //
  //}

  .post-body {


    .post {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;



      .post-title {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        margin: 20px 0px 20px 20px;
        font-weight: bold;
        width: 800px;


        .author {
          font-size: 15px;
        }

      }
      .post-text {
        text-align: center;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        width: 800px;
        //height: 100px;
        font-size: 20px;
        margin: 0px 20px 0px 20px;
        position: relative;
        text-justify: auto;
      }
    }
    .comments {

    p {
      text-align: center;
      color: black;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      margin: 20px 0px 20px 20px;
      font-weight: bold;
    }
    }
  }

}



